/* Prestaconcept.github.com styles
------------------------------------------------------------ */

@import "base-bootstrap.less";
@import "../font-awesome/less/font-awesome.less";
@import "layout.less";

/* Custom variables
------------------------------------------------------------ */
@lightPurple: #bb7289;
@lighterPurple: #bdb6ba;


/* Utils
------------------------------------------------------------ */
a:hover {
    cursor: pointer;
}

.btn {
    font-family: @headingsFontFamily;
    font-size: 35px;
    padding: 15px 50px;
}



.fork-us-outer {
    background: #e9e9e9;
    padding: 25px 0px;
    text-align: center;
    color: #555;

    h2 {
        color: #555;
    }
    ul {
        li {
            list-style-type: none;
            font-style: italic;
        }
    }
}
