/* Prestaconcept.github.com styles
------------------------------------------------------------ */

@import "base-bootstrap.less";
@import "../font-awesome/less/font-awesome.less";
@import "layout.less";

/* Custom variables
------------------------------------------------------------ */
@lightPurple: #bb7289;
@lighterPurple: #bdb6ba;


/* Utils
------------------------------------------------------------ */
a:hover {
    cursor: pointer;
}

.btn {
    font-family: @headingsFontFamily;
    font-size: 35px;
    padding: 15px 50px;
}

