---
layout: presta-cms-core
title: PrestaCMS extensions
subtitle: share your work
section_active: overview
navigation_active: extensions

extensions:
    - {
        id: "prestacmsthemebasicbundle",
        link: "prestaconcept/PrestaCMSThemeBasicBundle",
        title: "PrestaCMSThemeBasicBundle",
        description: "Adds basic themes"
    }
    - {
        id: "prestacmsmediabundle",
        link: "prestaconcept/PrestaCMSMediaBundle",
        title: "PrestaCMSMediaBundle",
        description: "This bundle provides media blocks for the PrestaCMS"
    }
---

<h1>PrestaCMS extensions</h1>
<div>
    {% for item in page.extensions %}
    <div class="extension span4">
        <img src="/assets/extension/{{ item.id }}.jpg">
        <a href="https://github.com/{{ item.link }}"  class="mask">
            <h2>{{ item.title }}</h2>
            {% if (item.description) %}
            <p>{{ item.description }}</p>
            {% endif %}
            <p class="info">View it on github</p>
        </a>
    </div>
    {% endfor %}
</div>
