---
layout: presta-cms-core
subtitle: Showcases
section_active: overview
navigation_active: showcases
showcases:
    - { id: "prestaconcept", link: "http://www.prestaconcept.net", title: "PrestaConcept", description: "Symfony2 Experts" }
    - { id: "sandbox", link: "http://sandbox.prestacms.com", title: "Sandbox", description: "PrestaCMS demonstration website" }
    - { id: "bpeek", link: "http://www.bpeek.com", title: "Bpeek" }
    - { id: "talan", link: "http://www.talan.fr", title: "Talan" }
---

<h1>PrestaCMS showcases</h1>

<div>
{% for item in page.showcases %}
    <div class="showcase span3">
        <img src="/assets/showcase/{{ item.id }}.jpg">
        <a class="mask" href="{{ item.link }}" >
            <h2>{{ item.title }}</h2>
            {% if (item.description) %}
                <p>{{ item.description }}</p>
            {% endif %}
            <p class="info">View project</p>
        </a>
        <span>{{ item.title }}</span>
    </div>
{% endfor %}
</div>

