---
layout: sidebar
title: PrestaCMSCore
navigation_mode: link
navigation_format: section
navigation:
    -
        link: "index"
        title: "Overview"
        children:
            -
                link: "index.html"
                title: "Overview"
            -
                link: "features.html"
                title: "Features"
            -
                link: "our-philosophy.htmlx"
                title: "Our philosophy"
            -
                link: "technologies.html"
                title: "Technologies"
            -
                link: "help-support.html"
                title: "Help & Support"
            -
                link: "release-process.html"
                title: "Release Process"
            -
                link: "extensions.html"
                title: "Extensions"
            -
                link: "showcases.html"
                title: "Showcases"
            -
                link: "statistics.html"
                title: "Statistics"
            -
                link: "contributing.html"
                title: "Contributing"
            -
                link: "faq.html"
                title: "FAQ"
    -
        link: "developer-guide/index.html"
        title: "Developer guide"
        children:
            -
                link: "developer-guide/installation.html"
                title: "Installation"
            -
                link: "developer-guide/getting-started.html"
                title: "Getting started"
            -
                link: "developer-guide/block.html"
                title: "Block System"
            -
                link: "developer-guide/models.html"
                title: "Working with models"
            -
                link: "developer-guide/fixtures.html"
                title: "Fixtures"
            -
                link: "developer-guide/page.html"
                title: "Page types"
            -
                link: "developer-guide/custom-controller.html"
                title: "Custom controller"
            -
                link: "developer-guide/extending.html"
                title: "Extending PrestaCMS"
            -
                link: "developer-guide/docs.html"
                title: "Useful documentation"
    -
        link: "user-guide/index.html"
        title: "User guide"
        children:
            -
                link: "user-guide/getting-started.html"
                title: "Getting started"
            -
                link: "user-guide/website.html"
                title: "Website"
            -
                link: "user-guide/theme.html"
                title: "Theme"
            -
                link: "user-guide/page.html"
                title: "Page"
            -
                link: "user-guide/block.html"
                title: "Block"
    -
        link: "theming-guide/index.html"
        title: "Theming guide"
        children:
            -
                link: "theming-guide/getting-started.html"
                title: "Getting started"
            -
                link: "theming-guide/structure.html"
                title: "Theme structur"
            -
                link: "theming-guide/admin.html"
                title: "Administration features"
            -
                link: "theming-guide/showcase.html"
                title: "Showcase"

---

{{ content }}
