---
layout: default
---

<div id="hook-outer">
    <div id="subheader" class="container">
        <h1>PrestaCMSSocialBundle</h1>
        <p class="lead">Integrates social blocks in PrestaCMS</p>
        <p><strong></strong></p>
    </div>
</div>

<div class="content-outer">
    <div class="content container">
        <div class="row">
            <div class="span3 bs-docs-sidebar" data-spy="affix" data-offset-top="210" data-offset-bottom="270">
                <ul class="nav nav-list bs-docs-sidenav affix">
                    {% if page.navigation %}
                        {% for item in page.navigation %}
                        <li {% if page.navigation_active == item.link %}class="active"{% endif %}>
                            <a href="#{{ item.link }}" ><i class="icon-chevron-right"></i> {{ item.title }}</a>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="span9 doc-content">
                {{ content }}
            </div>
        </div>
    </div>
</div>
