---
layout: sidebar
title: PrestaCMSCore
navigation_mode: link
navigation_format: section
navigation:
    -
        link: "/presta-cms-core/index.html"
        id: overview
        title: "Overview"
        children:
            -
                link: "/presta-cms-core/index.html"
                id: overview
                title: "Overview"
            -
                link: "/presta-cms-core/features.html"
                id: features
                title: "Features"
            -
                link: "/presta-cms-core/our-philosophy.html"
                id: our-philosophy
                title: "Our philosophy"
            -
                link: "/presta-cms-core/technologies.html"
                id: technologies
                title: "Technologies"
            -
                link: "/presta-cms-core/help-support.html"
                id: help-support
                title: "Help & Support"
            -
                link: "/presta-cms-core/release-process.html"
                id: release-process
                title: "Release Process"
            -
                link: "/presta-cms-core/extensions.html"
                id: extensions
                title: "Extensions"
            -
                link: "/presta-cms-core/showcases.html"
                id: showcases
                title: "Showcases"
            -
                link: "/presta-cms-core/statistics.html"
                id: statistics
                title: "Statistics"
            -
                link: "/presta-cms-core/contributing.html"
                id: contributing
                title: "Contributing"
            -
                link: "/presta-cms-core/faq.html"
                id: faq
                title: "FAQ"
    -
        link: "/presta-cms-core/developer-guide/index.html"
        title: "Developer guide"
        children:
            -
                link: "/presta-cms-core/developer-guide/installation.html"
                title: "Installation"
            -
                link: "/presta-cms-core/developer-guide/getting-started.html"
                title: "Getting started"
            -
                link: "/presta-cms-core/developer-guide/block.html"
                title: "Block System"
            -
                link: "/presta-cms-core/developer-guide/models.html"
                title: "Working with models"
            -
                link: "/presta-cms-core/developer-guide/fixtures.html"
                title: "Fixtures"
            -
                link: "/presta-cms-core/developer-guide/page.html"
                title: "Page types"
            -
                link: "/presta-cms-core/developer-guide/custom-controller.html"
                title: "Custom controller"
            -
                link: "/presta-cms-core/developer-guide/extending.html"
                title: "Extending PrestaCMS"
            -
                link: "/presta-cms-core/developer-guide/docs.html"
                title: "Useful documentation"
    -
        link: "/presta-cms-core/user-guide/index.html"
        title: "User guide"
        children:
            -
                link: "/presta-cms-core/user-guide/getting-started.html"
                title: "Getting started"
            -
                link: "/presta-cms-core/user-guide/website.html"
                title: "Website"
            -
                link: "/presta-cms-core/user-guide/theme.html"
                title: "Theme"
            -
                link: "/presta-cms-core/user-guide/page.html"
                title: "Page"
            -
                link: "/presta-cms-core/user-guide/block.html"
                title: "Block"
    -
        link: "/presta-cms-core/theming-guide/index.html"
        title: "Theming guide"
        children:
            -
                link: "/presta-cms-core/theming-guide/getting-started.html"
                title: "Getting started"
            -
                link: "/presta-cms-core/theming-guide/structure.html"
                title: "Theme structur"
            -
                link: "/presta-cms-core/theming-guide/admin.html"
                title: "Administration features"
            -
                link: "/presta-cms-core/theming-guide/showcase.html"
                title: "Showcase"

---

{{ content }}
