---
layout: presta-cms-core-default
section: developer-guide
navigation:
    - { link: "installation.html", title: "Installation" }
    - { link: "getting-started.html", title: "Getting started" }
    - { link: "block.html", title: "Block System" }
    - { link: "models.html", title: "Working with models" }
    - { link: "fixtures.html", title: "Fixtures" }
    - { link: "page.html", title: "Page types" }
    - { link: "custom-controller.html", title: "Custom controller" }
    - { link: "extending.html", title: "Extending PrestaCMS" }
    - { link: "docs.html", title: "Useful documentation" }
---

{{ content }}

